body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dots path {
    fill-opacity: 0.3;
    stroke: none;
}
.dots.approve {
    fill: #009f29;
}
.dots.disapprove {
    fill: #ff7400;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}